<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>LS Auto - Bavaria Car Service</title>
</head>
<body>
<div class="container">
    <header th:insert="header.html"></header>

    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-12">
            <div>
                <h2>Forumlarz użytkownika</h2>
                <form th:object="${user}" method="post" th:action="@{/user/createuser}">
                    <input th:field="*{id}" hidden="true"/>
                    <input th:field="*{addressId}" hidden="true"/>

                    <div class="md-form">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" class="form-control" th:field="*{email}">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p><br>
                    </div>

                    <div class="md-form">
                    <label for="username">Nazwa użytkownika</label>
                    <input id="username" type="text" class="form-control" th:field="*{username}">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p><br>
                </div>

                    <div class="md-form">
                    <label for="password">Hasło</label>
                    <input id="password" type="password" class="form-control" th:field="*{password}">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p><br>
                </div>

                    <div class="md-form">
                        <label for="firstName">Imie</label>
                        <input id="firstName" type="text" class="form-control" th:field="*{firstName}">
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p><br>
                    </div>

                    <div class="md-form">
                        <label for="surname">Nazwisko</label>
                        <input id="surname" type="text" class="form-control" th:field="*{surname}">
                        <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p><br>
                    </div>

                    <div class="md-form">
                        <label for="phoneNumber">Numer Telefonu</label>
                        <input id="phoneNumber" type="text" class="form-control" th:field="*{phoneNumber}">
                        <p th:if="${#fields.hasErrors('surname')}" th:errors="*{phoneNumber}"></p><br>
                    </div>

                    <div class="md-form">
                    <label for="street">Ulica</label>
                    <input id="street" type="text" class="form-control" th:field="*{street}">
                    <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p><br>
                </div>

                    <div class="md-form">
                        <label for="houseNumber">Numer domu</label>
                        <input id="houseNumber" type="text" class="form-control" th:field="*{houseNumber}">
                        <p th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></p><br>
                    </div>

                    <div class="md-form">
                        <label for="apartmentNumber">Numer mieszkania</label>
                        <input id="apartmentNumber" type="text" class="form-control" th:field="*{apartmentNumber}">
                        <p th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}"></p><br>
                    </div>

                    <div class="md-form">
                        <label for="postCode">Kod pocztowy</label>
                        <input id="postCode" type="text" class="form-control" th:field="*{postCode}">
                        <p th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></p><br>
                    </div>

                    <div class="md-form">
                        <label for="city">Miasto</label>
                        <input id="city" type="text" class="form-control" th:field="*{city}">
                        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p><br>
                    </div>








                    <button value="submit" type="submit" class="btn btn-primary">Zapisz</button>
                </form>
            </div>
        </div>
    </div>





















<div/>
    <footer th:insert="footer.html" class="mt-5"></footer>
</body>
</html>