<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <!--                <a class="text-muted" href="#">Subscribe</a>-->
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/">LS Auto</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <!--                <a class="text-muted" href="#" aria-label="Search">-->
            <!--                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>-->
            <!--                </a>-->
            <a class="btn btn-sm btn-outline-secondary" href="#">Log In</a>
        </div>
    </div>
</header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonCar"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Samochód
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/">Lista Pojazdów</a>
                <a class="dropdown-item" href="/car">Dodaj samochód</a>
            </div>
        </div>


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonRepair"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Naprawy
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/repair/addrepair">Dodaj nową naprawe</a>
                <a class="dropdown-item" href="/repair?status=ACCEPTED">Aktualne naprawy</a>
                <a class="dropdown-item" href="/repair?status=TO_RECEIVE">Historia napraw</a>

            </div>
        </div>


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonCustomer"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Klienci
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/user">Dodaj klienta</a>
                <a class="dropdown-item" href="/user/userslist">Lista klientów</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonProduct"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Części
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/product/getproduct">Wszystkie części</a>
                <a class="dropdown-item" href="/product/getproduct">Dodaj część</a>
            </div>
        </div>


    </nav>
</div>
</div>
